
/* Global style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 10px;
}
body {
  margin: 0px;
  
  
}
  
/* NAVIGATION STYLE */
.nav {
  height: 50px;
  width: 100%;
  background-color: black;
  position: fixed;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.4rem;
  transition: all .5s;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 16px 10px;
  text-decoration: none;
  color: white;
  height: 100%;
  letter-spacing: 2px;
  text-align: center;
}

.nav > .nav-links > a:last-child {
  margin-right: 20px;
}

.nav > .nav-links > a:hover {
  background-color: rgba(166,166,166,1);
}

.nav > #nav-check {
  display: none;
}
  
  /* NAVIGATION MOBILE STYLE */
  
  @media (max-width:620px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      height: fit-content;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(250px - 50px);
      overflow-y: auto;
      overflow: hidden
    }

    .nav  .nav-links  a:visited ~ .nav-links {
        height: 0px;
     }
  }

 
  /*  MAIN SECTION STYLE  */

  /* MAIN SECTION STRUCTURE */
  .main {
      display: flex;
      flex-direction: column;
    
  }
  .header {
    height: calc(100vh - 50px);
    margin-top: 50px;
    background-color: rgba(166,166,166,1);
  }
  .about {
    height: 100vh;
    background-color: #FFFFFF;
    padding-top: 50px;
  }
  .projects {
    height: 100vh;
    padding-top: 50px;
    background-color: lightpink;
  }

  /* HEADER SECTION */

  .header {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: url(./images/apple1.jpg) no-repeat center fixed;
      background-origin: content-box;
      background-size: cover;
  }
  .header-name {
      font-size: 4.8rem;
      letter-spacing: 5px;
  }
  .header-position {
      font-size: 2rem;
      letter-spacing: 5px;
      margin-top: 20px;
      margin-bottom: 200px;
      color: rgba(166,166,166,1);
  }
  .btn {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 4px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 30px;
    transition: all .5s;
  }
  .btn:hover {
    cursor: pointer;
    background-color: lightgray;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(166,166,166,1);
    -moz-box-shadow: 2px 2px 5px 1px rgba(166,166,166,1);
    box-shadow: 2px 2px 5px 1px rgba(166,166,166,1);
  }
  .btn:focus {
    outline: none !important;
  }

  /* HEADER MOBILE STYLE  width 730*/
  @media (max-width:730px) {
    .header-name {
      font-size: 3.8rem;
    }
    .header-position {
      font-size: 1.62rem;
    }
    .btn {
      font-size: 1.4rem;
      font-weight: 700;
      letter-spacing: 4px;
      border: 1px solid white;
      border-radius: 5px;
      padding: 10px 30px;
      transition: all .5s;
    }
  }
  /* HEADER MOBILE STYLE  width 600*/
  @media (max-width:620px) {
    .header {
      text-align: center;
    }
  }


  /*  CARDS  SECTION  */

  .wrapper {
      width: 80%;
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
  }
  .wrapper-title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 20px;
    color: black;
  }

  .card-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 100%;
  }

  .card {
      height: 60%;
      width: 30%;
      background-color: lightgrey;
      border-radius: 5px;
  }

  @media (max-width:900px) { 
 
    .card-wrapper {
      flex-direction: column;
      height: fit-content;
    }
    .card {
      width: 300px;
      margin: 10px auto;
    }
    .card:last-child {
      margin-bottom: 150px;
    }
    .wrapper-title{
      margin: 10px auto;
    }
  }

  /*  ABOUT SECTION  */
  .about-card {
    padding: 15px 25px;
    font-size: 1.6rem;
  }

  .about-card h3 {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
  }

  .about-list {
    padding: 15px 10px;
    font-style: italic;
  }
  

  .about-item {
    padding-bottom: 5px;
  }