
/* Global style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 10px;
}
body {
  margin: 0px;
  
  
}
  
/* NAVIGATION STYLE */
.nav {
  height: 50px;
  width: 100%;
  background-color: black;
  position: fixed;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.4rem;
  transition: all .5s;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 16px 10px;
  text-decoration: none;
  color: white;
  height: 100%;
  letter-spacing: 2px;
  text-align: center;
}

.nav > .nav-links > a:last-child {
  margin-right: 20px;
}

.nav > .nav-links > a:hover {
  background-color: rgba(166,166,166,1);
}

.nav > #nav-check {
  display: none;
}
  
  /* NAVIGATION MOBILE STYLE */
  
  @media only screen and (max-width: 600px) {
    .nav {
      background-color: #333;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: #333;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      height: fit-content;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(250px - 50px);
      overflow-y: auto;
      overflow: hidden
    }

    .nav  .nav-links  a:visited ~ .nav-links {
        height: 0px;
     }
  }

 
  /*  MAIN SECTION STYLE  */

  /* MAIN SECTION STRUCTURE */
  .main {
      display: flex;
      flex-direction: column;
      background: url(./images/apple1.jpg) no-repeat center fixed;
      background-origin: content-box;
      background-size: cover;
    
  }
  .header {
    height: calc(100vh - 50px);
    margin-top: 50px;
    background-color: transparent;
  }
  .about {
    height: 100%;
    background-color: #FFFFFF;
    padding: 50px 0px 80px 0px;
  }
  .projects {
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: transparent;
  }


  /* HEADER SECTION */

  .header {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

  }
  .header-name {
      font-size: 4.8rem;
      letter-spacing: 5px;
  }
  .header-position {
      font-size: 2rem;
      letter-spacing: 5px;
      margin-top: 20px;
      margin-bottom: 200px;
      color: rgba(166,166,166,1);
  }
  .btn {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 4px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 30px;
    transition: all .5s;
  }
  .btn:hover {
    cursor: pointer;
    background-color: lightgray;
    box-shadow: 0 5px 10px 0 rgba(100, 133, 167, 0.384);
  }
  .btn:focus {
    outline: none !important;
  }

  /* HEADER MOBILE STYLE  width 730 */
  @media only screen and (max-width: 730px) {
    .header-name {
      font-size: 3.8rem;
    }
    .header-position {
      font-size: 1.62rem;
    }
    .btn {
      font-size: 1.4rem;
      font-weight: 700;
      letter-spacing: 4px;
      border: 1px solid white;
      border-radius: 5px;
      padding: 10px 30px;
      transition: all .5s;
    }
  }
  /* HEADER MOBILE STYLE  width 600 */
  @media only screen and (max-width: 600px) {
    .header-name {
      text-align: center;
      font-size: 3.4rem;
    }
  }


  /*  CARDS  SECTION  */

  .wrapper {
      width: 80%;
      height: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
  }
  .wrapper-title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 18px;
    color: black;
  }

  .card-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 100%;
  }

  .card {
      height: 250px;
      width: 30%;
      max-width: 350px;
      background-color: lightgrey;
      border-radius: 5px;
  }

  /* CARD SECTION MOBILE VERSION */
  
  @media only screen and (max-width: 900px) { 
 
    .card-wrapper {
      flex-direction: column;
      height: fit-content;
      align-items: center;
    }
    .card {
      width: 300px;
      margin: 10px auto;
    }
    .card:last-child {
      margin-bottom: 50px;
    }
    .wrapper-title{
      margin: 5px auto;
    }
    .card:last-child {
      margin-bottom: 0px;
    }
  }

  /*  ABOUT SECTION  */
  .about-card {
    padding: 15px 25px;
    font-size: 1.6rem;
  }

  .about-card h3 {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
  }

  .about-list {
    padding: 15px 10px;
    font-style: italic;
  }
  

  .about-item {
    padding-bottom: 5px;
  }

  /* PROJECT SECTION */
  .project-title {
    color: white;
  }
  .project-card {
    height: 300px;
    border-radius: 5px;
    margin: 10px;
  }
  .project-card:hover {
    box-shadow: 0 5px 10px 0 rgba(100, 133, 167, 0.384);
  }

  .project-card__image {
    height: 70%;
    width: 100%;
    background: url(./images/Natours.png) no-repeat center;
    background-size: cover;
    padding: 15px;
    border-radius: 5px;
  }
  .project-card__info {
    padding: 15px;
  }
  .project-card__box {
    display: flex;
    justify-content: space-between;
  }
  .project-card__heading {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    vertical-align: middle;
  }
  .project-card__github {
    font-size: 1rem;
    font-weight: 700;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
  }
  .project-card__github a {
    text-decoration: none;
    color: black;
  }
  .project-card__text {
    display: block;
    font-size: 1.2rem;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight:  700;
  }

  @media (max-width:1200px) { 
    .project-wrapper {
      flex-wrap: wrap;
    }
    .project-card {
      flex-wrap: wrap;
      width: 300px;
    }
   
  }